.certif{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}
.certif span:nth-child(1){
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}
.certif span:nth-child(2){
    color: var(--blue);
    font-size: 2rem;
    font-weight: bold;
}

.certif .swiper{
    overflow: visible!important;
}

.certif-slider {
    margin-top: 3rem;
    width: 100%;
}
.certif-slider .swiper-slide{
    width: 20rem;
}

.certif img{
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0,0,0,0.25));
    border-radius: 19px;
}