:root
{

  --blue: #5E5CFA;
  --skyblue :#87CEEB;
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --blueCard: rgba(61, 126, 248, 0.58);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button{
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #5E5CFA 26.71%,#87CEEB 99.36%);
  box-shadow: 0px 20px 24px 3px rgb(62,60,237, 0.42);
}
.button:hover{
  background: white ;
  cursor: pointer;
  color:var(--blue) ;
  border: 1px solid var(--blue);
}

@media screen and (max-width: 480px){
  .App{
    padding: 0.5rem 1rem;
  }
}


  

  